* {
  margin: 0;
  padding: 0; }

/* Estilos generales */
/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  #sustentabilidad .carousel-item {
    height: 400px; }
  #sustentabilidad .boxe img {
    height: auto; }
  @supports (object-fit: cover) {
    #sustentabilidad .boxe img {
      height: 100%;
      object-fit: cover;
      object-position: center center; } }
  #sustentabilidad .box {
    width: auto;
    background-color: #fff; }
  #sustentabilidad .box--uno {
    width: auto;
    height: 300px;
    display: flex; }
  #sustentabilidad .box--uno__text {
    font-size: 45px;
    color: #009EA4;
    text-align: center;
    margin: auto; }
  #sustentabilidad .box--dos {
    width: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--dos__bloque {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row nowrap; }
  #sustentabilidad .box--dos__text {
    font-size: 32px;
    color: #fff;
    text-align: center;
    margin: auto; }
  #sustentabilidad .box--dos__img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
    width: 35%; }
  #sustentabilidad .box--tres {
    width: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__bloque {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__bloquecentral {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__text {
    font-size: 39px;
    color: #fff;
    text-align: center;
    margin: auto;
    font-style: normal;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__textcentral {
    font-size: 70px;
    color: #009EA4;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
    width: 55%; }
  #sustentabilidad .box--cuatro {
    background-color: #00818D;
    width: auto;
    height: 300px;
    display: flex; }
  #sustentabilidad .box--cuatro__text {
    font-size: 33px;
    color: #fff;
    text-align: center;
    margin: auto; }
  .servis {
    grid-area: servis;
    width: 100%;
    padding: 0px 15px;
    align-content: center;
    align-items: center;
    margin: auto; }
  .servis--block {
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  .unica {
    width: 50%;
    height: 450px;
    overflow: hidden; }
  .unica img {
    width: 100%;
    height: auto; }
  .prod {
    width: 50%;
    padding: 0; }
  .portada {
    width: auto;
    height: 300px;
    display: flex; }
  .nos {
    background-image: url("../media/Img/nos.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .serv {
    background-image: url("../media/Img/serv.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .cert {
    background-image: url("../media/Img/cert.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .bg-celeste {
    background-color: #009EA4; }
  .bg-gris {
    background-color: #B1B4B3; }
  .bg-gris-claro {
    background-color: #E8EAE9; }
  .bg-azul {
    background-color: #00818D; }
  .bg-blanco {
    background-color: #fff; }
  .bg-negro {
    background-color: #000; }
  .caja {
    width: 100%;
    padding: 0; }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .prod {
    width: 50%;
    padding: 0; }
  .iso {
    width: 30%;
    padding: 0; }
  .divContacto {
    width: 50%;
    padding: 0;
    display: flex;
    flex-flow: row wrap; }
  .divP {
    width: 310px;
    padding: 5px;
    margin: 5px 5px;
    align-content: center;
    transition: all 1s; }
  article {
    display: flex;
    flex-flow: row nowrap; }
  .article {
    display: flex;
    flex-flow: row wrap; }
  article divP:hover {
    background-color: #09c8f8; }
  h1, h2, h3 {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold; }
  h1 {
    padding: 15px 10px 0px;
    font-size: 16px;
    letter-spacing: 0px;
    text-align: left; }
  h2 {
    padding: 5px 0px;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left; }
  .h2--blanco {
    color: #fff; }
  .h2--celeste {
    text-align: center;
    color: #009EA4;
    font-size: 25px;
    font-weight: bold; }
  .h2--nav {
    text-align: center;
    color: #009EA4;
    font-size: 22px;
    font-weight: bold; }
  h3 {
    padding-bottom: 3px;
    font-size: 20px;
    text-align: center; }
  .h3--celeste {
    text-align: left;
    color: #009EA4;
    font-size: 21px;
    font-weight: normal; }
  .h3--blanco {
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: bold; }
  .h3--form {
    text-align: left;
    margin: 8px 0px 3px 0px; }
  h4 {
    padding-bottom: 3px;
    font-size: 14px;
    text-align: center;
    color: #fff; }
  h5 {
    color: #B1B4B3;
    text-align: left;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 10px; }
  p {
    color: #B1B4B3;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: left;
    font-size: 16px;
    margin: 0 6px 10px 6px; }
  label {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left; }
  legend {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 5px 0px;
    letter-spacing: 0px;
    text-transform: uppercase; }
  .imput {
    width: 60vh;
    margin-bottom: 12px; }
  .btn {
    background-color: #00818D;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    text-align: center; }
  a {
    color: #009EA4;
    text-decoration: none; }
  .titulos {
    width: auto; }
  .titulo {
    display: flex;
    flex-flow: column wrap;
    width: 100%; }
  .copy {
    padding: 8px; }
  img {
    width: 90%; }
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto; }
  .texto-encima {
    position: absolute;
    top: 10px;
    left: 10px; }
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #uno {
    grid-area: video; }
  #dos {
    grid-area: productos;
    padding: 20px;
    align-content: center;
    align-items: center; }
  #tres {
    grid-area: servicios;
    padding: 20px;
    text-align: center; }
  .certi {
    color: white;
    text-align: left;
    background-color: #009EA4; }
  #cuatro {
    grid-area: circular;
    padding: 20px;
    text-align: center;
    background-color: #fff; }
  #cinco {
    grid-area: certi;
    padding: 20px;
    text-align: center;
    background-color: #009EA4; }
  #seis {
    grid-area: contacto;
    padding: 20px;
    text-align: center; }
  .video {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #00818D;
    z-index: -2; }
  .logo {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 20%;
    z-index: -1; }
  #historia {
    grid-area: historia;
    text-align: justify;
    padding: 0px 20px;
    width: 100%; }
  .hist {
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    width: 50%; }
  .lista {
    width: 90%; }
  #detalles {
    grid-area: detalles;
    text-align: justify;
    padding: 20px; }
  #complejo {
    grid-area: complejo;
    text-align: justify;
    padding: 0px; }
  .complejo {
    grid-area: complejo;
    justify-content: center;
    align-content: center;
    margin-top: 10px; }
  #placa {
    grid-area: placa;
    overflow: hidden;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: auto; }
  .boxy {
    width: 100%;
    height: 450px;
    background: #CCC;
    overflow: hidden; }
  .boxy img {
    width: 100%;
    height: auto; }
  @supports (object-fit: cover) {
    .boxy img {
      height: 100%;
      object-fit: cover;
      object-position: center center; } }
  .block {
    padding: 0px 20px;
    z-index: -1; }
  .produ {
    padding: 0px 10px; }
  .contacto {
    padding: 0px 20px;
    width: 100%;
    display: flex;
    margin: 10px; }
  .manifiesto {
    color: #fff;
    text-align: left;
    background-color: #00818D; }
  #manifiesto {
    grid-area: manifiesto;
    padding: 20px;
    text-align: center; }
  .gridAreaHome {
    display: grid;
    grid-template-areas: "header" "video" "manifiesto" "productos" "servicios" "circular" "certi" "contacto" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px 400px 350px 400px 400px 550px 750px 890px 100px; }
  .gridAreaNos {
    display: grid;
    grid-template-areas: "header" "placa" "historia" "detalles" "complejo"                 "footer";
    grid-template-columns: 100%;
    grid-template-rows: 40px 250px 550px 650px 290px 100px; }
  .gridAreaServis {
    display: grid;
    grid-template-areas: "header" "placa" "servis"               "footer";
    grid-template-columns: 100%;
    grid-template-rows: 40px 200px 650px 100px; } }

/* Desktop */
@media (min-width: 1024px) {
  #sustentabilidad .carousel-item {
    height: 400px; }
  #sustentabilidad .box {
    width: auto;
    background-color: #fff; }
  #sustentabilidad .box--uno {
    width: auto;
    height: 300px;
    display: flex; }
  #sustentabilidad .box--uno__text {
    font-size: 55px;
    color: #009EA4;
    text-align: center;
    margin: auto; }
  #sustentabilidad .box--dos {
    width: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--dos__bloque {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row nowrap; }
  #sustentabilidad .box--dos__text {
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: auto; }
  #sustentabilidad .box--dos__img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
    width: 25%; }
  #sustentabilidad .box--tres {
    width: auto;
    align-items: center;
    display: flex;
    flex-flow: row nowrap; }
  #sustentabilidad .box--tres__bloque {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__bloquecentral {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__text {
    font-size: 28px;
    color: #fff;
    text-align: center;
    margin: auto;
    font-style: normal;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__textcentral {
    font-size: 40px;
    color: #009EA4;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
    width: 55%; }
  #sustentabilidad .box--cuatro {
    background-color: #00818D;
    width: auto;
    height: 300px;
    display: flex; }
  #sustentabilidad .box--cuatro__text {
    font-size: 33px;
    color: #fff;
    text-align: center;
    margin: auto; }
  .servis {
    grid-area: servis;
    width: 100%;
    padding: 0px 15px;
    align-content: center;
    align-items: center;
    margin: auto; }
  .servis--block {
    width: 50%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  .unica {
    width: 50%;
    height: 450px;
    overflow: hidden; }
  .unica img {
    width: 100%;
    height: auto; }
  .portada {
    width: auto;
    height: 300px;
    display: flex; }
  .nos {
    background-image: url("../media/Img/nos.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .serv {
    background-image: url("../media/Img/serv.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .cert {
    background-image: url("../media/Img/cert.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .bg-celeste {
    background-color: #009EA4; }
  .bg-gris {
    background-color: #B1B4B3; }
  .bg-gris-claro {
    background-color: #E8EAE9; }
  .bg-azul {
    background-color: #00818D; }
  .bg-blanco {
    background-color: #fff; }
  .bg-negro {
    background-color: #000; }
  .caja {
    width: 100%;
    padding: 0;
    margin: auto; }
  .prod {
    width: 25%;
    padding: 0; }
  .iso {
    width: 30%;
    padding: 0; }
  .divContacto {
    width: 50%;
    padding: 0; }
  .divP {
    width: 350px;
    padding: 5px;
    margin: 5px 5px;
    align-content: center;
    transition: all 1s; }
  article divP:hover {
    background-color: #09c8f8; }
  h1, h2, h3 {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold; }
  h1 {
    padding: 15px 10px 0px;
    font-size: 16px;
    letter-spacing: 0px;
    text-align: left; }
  h2 {
    padding: 5px 0px;
    font-size: 18px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left; }
  .h2--blanco {
    color: #fff; }
  .h2--celeste {
    text-align: center;
    color: #009EA4;
    font-size: 25px;
    font-weight: bold; }
  .h2--nav {
    text-align: center;
    color: #009EA4;
    font-size: 20px;
    font-weight: bold; }
  h3 {
    padding-bottom: 3px;
    font-size: 20px;
    text-align: center; }
  .h3--celeste {
    text-align: left;
    color: #009EA4;
    font-size: 21px;
    font-weight: normal; }
  .h3--blanco {
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    margin-top: 8px; }
  .h3--form {
    text-align: left;
    margin: 8px 0px 3px 0px; }
  h4 {
    padding-bottom: 3px;
    font-size: 14px;
    text-align: center;
    color: #fff; }
  h5 {
    color: #B1B4B3;
    text-align: left;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 10px; }
  p {
    color: #B1B4B3;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: left;
    font-size: 14px;
    margin: 0 6px; }
  label {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left; }
  legend {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 5px 0px;
    letter-spacing: 0px;
    text-transform: uppercase; }
  .imput {
    width: 100vh;
    margin-bottom: 15px; }
  .btn {
    background-color: #00818D;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    text-align: center; }
  a {
    color: #009EA4;
    text-decoration: none; }
  .titulos {
    width: auto; }
  .titulo {
    display: flex;
    flex-flow: column wrap;
    width: 100%; }
  .copy {
    padding: 8px; }
  img {
    width: 55%; }
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto; }
  .texto-encima {
    position: absolute;
    top: 10px;
    left: 10px; }
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  #uno {
    grid-area: video; }
  #dos {
    grid-area: productos;
    padding: 18px;
    align-content: center;
    align-items: center; }
  #tres {
    grid-area: servicios;
    padding: 18px;
    text-align: center; }
  .certi {
    color: white;
    text-align: left;
    background-color: #009EA4;
    margin: auto; }
  .textoCerti {
    color: white;
    text-align: left;
    background-color: #009EA4;
    margin: auto 0; }
  #cuatro {
    grid-area: circular;
    padding: 18px;
    text-align: center;
    background-color: #fff; }
  #cinco {
    grid-area: certi;
    padding: 18px;
    text-align: center;
    background-color: #009EA4; }
  #seis {
    grid-area: contacto;
    padding: 18px;
    text-align: center; }
  .video {
    overflow: hidden;
    align-content: center;
    display: inline-block;
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    background-color: #00818D; }
  .logo {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%; }
  #historia {
    grid-area: historia;
    text-align: justify;
    padding: 0px 20px;
    width: 100%; }
  .hist {
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    width: 50%; }
  .lista {
    width: 90%; }
  #detalles {
    grid-area: detalles;
    text-align: justify;
    padding: 20px; }
  #complejo {
    grid-area: complejo;
    text-align: justify;
    padding: 0px; }
  .complejo {
    grid-area: complejo;
    justify-content: center;
    align-content: center;
    margin-top: 10px; }
  #placa {
    grid-area: placa;
    overflow: hidden;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: auto; }
  .boxy {
    width: 100%;
    height: 450px;
    background: #CCC;
    overflow: hidden; }
  .boxy img {
    width: 100%;
    height: auto; }
  @supports (object-fit: cover) {
    .boxy img {
      height: 100%;
      object-fit: cover;
      object-position: center center; } }
  .block {
    padding: 0px 18px;
    z-index: -1; }
  .produ {
    padding: 0px 10px; }
  .contacto {
    padding: 0px 20px;
    width: 100%;
    display: flex; }
  .manifiesto {
    color: #fff;
    text-align: left;
    background-color: #00818D; }
  #manifiesto {
    grid-area: manifiesto;
    padding: 18px;
    text-align: center; }
  .gridAreaHome {
    display: grid;
    grid-template-areas: "header" "video" "manifiesto" "productos" "servicios" "circular" "certi" "contacto" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px 300px 500px 300px 400px 400px 250px 760px 100px; }
  .gridAreaNos {
    display: grid;
    grid-template-areas: "header" "placa" "historia" "detalles" "complejo"                 "footer";
    grid-template-columns: 100%;
    grid-template-rows: 40px 200px 800px 600px 150px 100px; }
  .gridAreaServis {
    display: grid;
    grid-template-areas: "header" "placa" "servis"               "footer";
    grid-template-columns: 100%;
    grid-template-rows: 40px 200px 650px 100px; } }

/************ 
    Mobile First 
    *************/
/* Smartphone */
@media (max-width: 767px) {
  #sustentabilidad .carousel-item {
    height: 300px; }
  #sustentabilidad .boxe img {
    height: auto; }
  @supports (object-fit: cover) {
    #sustentabilidad .boxe img {
      height: 100%;
      object-fit: cover;
      object-position: center center; } }
  #sustentabilidad .box {
    width: auto;
    background-color: #fff; }
  #sustentabilidad .box--uno {
    width: auto;
    height: 200px;
    display: flex; }
  #sustentabilidad .box--uno__text {
    font-size: 30px;
    color: #009EA4;
    text-align: center;
    margin: auto; }
  #sustentabilidad .box--dos {
    width: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--dos__bloque {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row nowrap; }
  #sustentabilidad .box--dos__text {
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: auto; }
  #sustentabilidad .box--dos__img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
    width: 35%; }
  #sustentabilidad .box--tres {
    width: auto;
    align-items: center;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__bloque {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__bloquecentral {
    width: auto;
    margin: 20px;
    padding: 2px 3px;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__text {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: auto;
    font-style: normal;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__textcentral {
    font-size: 35px;
    color: #009EA4;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  #sustentabilidad .box--tres__img {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    display: block;
    width: 55%; }
  #sustentabilidad .box--cuatro {
    background-color: #00818D;
    width: auto;
    height: 200px;
    display: flex; }
  #sustentabilidad .box--cuatro__text {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: auto; }
  .servis {
    grid-area: servis;
    width: 100%;
    padding: 0px 15px;
    align-content: center;
    align-items: center;
    margin: auto; }
  .servis--block {
    width: 100%;
    text-align: center;
    margin: auto;
    display: flex;
    flex-flow: row wrap; }
  .unica {
    width: 100%;
    height: 250px;
    overflow: hidden; }
  .unica img {
    width: 100%;
    height: auto; }
  .portada {
    width: auto;
    height: 200px;
    display: flex; }
  .nos {
    background-image: url("../media/Img/nos.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .serv {
    background-image: url("../media/Img/serv.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .cert {
    background-image: url("../media/Img/cert.jpg");
    width: 100%;
    background-position: center;
    overflow: hidden; }
  .bg-celeste {
    background-color: #009EA4; }
  .bg-gris {
    background-color: #B1B4B3; }
  .bg-gris-claro {
    background-color: #E8EAE9; }
  .bg-azul {
    background-color: #00818D; }
  .bg-blanco {
    background-color: #fff; }
  .bg-negro {
    background-color: #000; }
  .caja {
    width: 100%;
    padding: 0; }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0; }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  .prod {
    width: 50%;
    padding: 0; }
  .divP {
    width: 610px;
    padding: 5px;
    margin: 5px 5px;
    align-content: center;
    transition: all 1s; }
  article divP:hover {
    background-color: #09c8f8; }
  h1, h2, h3 {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold; }
  h1 {
    padding: 15px 20px 0px;
    font-size: 14px;
    letter-spacing: 0px;
    text-align: left; }
  h2 {
    padding: 5px 0px;
    font-size: 14px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left; }
  .h2--blanco {
    color: #fff; }
  .h2--celeste {
    text-align: center;
    color: #009EA4;
    font-size: 16px;
    font-weight: bold; }
  .h2--nav {
    text-align: center;
    color: #009EA4;
    font-size: 16px;
    font-weight: bold; }
  h3 {
    padding-bottom: 3px;
    font-size: 14px;
    text-align: center; }
  .h3--celeste {
    text-align: left;
    color: #009EA4;
    font-size: 14px;
    font-weight: normal; }
  .h3--blanco {
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold; }
  .h3--form {
    text-align: left;
    margin: 8px 0px 3px 0px; }
  h4 {
    padding-bottom: 3px;
    font-size: 11px;
    text-align: center;
    color: #fff; }
  h5 {
    color: #B1B4B3;
    text-align: left;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    padding-bottom: 10px;
    font-size: 10px; }
  p {
    color: #B1B4B3;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: normal;
    text-align: left;
    font-size: 11px; }
  label {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: left; }
  legend {
    color: #009EA4;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
    padding: 5px 0px;
    letter-spacing: 0px;
    text-transform: uppercase; }
  .imput {
    width: 100%;
    margin-bottom: 5px; }
  .btn {
    background-color: #00818D;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    text-align: center; }
  a {
    color: #009EA4;
    text-decoration: none; }
  .titulos {
    width: auto; }
  .titulo {
    display: flex;
    flex-flow: column wrap;
    width: 100%; }
  .copy {
    padding: 8px; }
  img {
    width: 60%;
    margin: auto; }
  .contenedor {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: auto; }
  .texto-encima {
    position: absolute;
    top: 10px;
    left: 10px; }
  .centrado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  header {
    background-color: #fff;
    grid-area: header; }
  #uno {
    grid-area: video; }
  #dos {
    grid-area: productos;
    padding: 15px;
    align-content: center;
    align-items: center; }
  #tres {
    grid-area: servicios;
    padding: 15px;
    text-align: center; }
  .certi {
    color: white;
    text-align: left;
    background-color: #009EA4; }
  #cuatro {
    grid-area: circular;
    padding: 15px;
    text-align: center;
    background-color: #fff; }
  #cinco {
    grid-area: certi;
    padding: 15px;
    text-align: center;
    background-color: #009EA4; }
  #seis {
    grid-area: contacto;
    padding: 15px;
    text-align: center; }
  .video {
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #00818D;
    z-index: -2; }
  .logo {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 20%;
    z-index: -1; }
  .boxy {
    width: 100%;
    height: 250px;
    background: #CCC;
    overflow: hidden; }
  .boxy img {
    width: 100%;
    height: auto; }
  @supports (object-fit: cover) {
    .boxy img {
      height: 100%;
      object-fit: cover;
      object-position: center center; } }
  .block {
    padding: 0px 5px;
    z-index: -1; }
  .produ {
    padding: 0px 20px; }
  .contacto {
    padding: 0px 20px;
    width: 100%;
    display: flex; }
  .contacto--data {
    width: 100%; }
  .manifiesto {
    color: #fff;
    text-align: left;
    background-color: #00818D; }
  #manifiesto {
    grid-area: manifiesto;
    padding: 15px;
    text-align: center; }
  .gridAreaHome {
    display: grid;
    grid-template-areas: "header" "video" "manifiesto" "productos" "servicios" "circular" "certi" "contacto" "footer";
    grid-template-columns: 100%;
    grid-template-rows: 60px 200px 400px 400px 400px 300px 350px 430px 100px; }
  .gridAreaNos {
    display: grid;
    grid-template-areas: "header" "placa" "historia" "detalles" "complejo"                 "footer";
    grid-template-columns: 100%;
    grid-template-rows: 40px 200px 800px 800px 300px 100px; }
  .gridAreaServis {
    display: grid;
    grid-template-areas: "header" "placa" "servis"               "footer";
    grid-template-columns: 100%;
    grid-template-rows: 40px 200px 680px 100px; }
  main {
    width: 100%; }
  article {
    display: flex;
    flex-flow: row wrap; }
  section {
    display: flex;
    flex-flow: row wrap; }
  .articleServicios {
    display: flex;
    width: 100%;
    margin: 10px;
    padding: 20px;
    justify-content: center; }
  aside {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px; }
  .galeria {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly; }
  .pie {
    display: flex;
    width: 40px;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center; }
  .contenedorServicios {
    display: flex; }
  .contenido {
    display: flex;
    flex-flow: row wrap; }
  .video {
    overflow: hidden;
    align-content: center; }
  #historia {
    grid-area: historia;
    text-align: justify;
    padding: 0px 20px; }
  .hist {
    justify-content: center;
    align-content: center;
    margin-top: 10px;
    margin: auto;
    text-align: center;
    width: 100%; }
  #detalles {
    grid-area: detalles;
    text-align: justify;
    padding: 20px; }
  #complejo {
    grid-area: complejo;
    justify-content: center;
    align-content: center;
    margin-top: 10px; }
  #placa {
    grid-area: placa;
    overflow: hidden;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin: auto; }
  body {
    padding: 0; }
  .p {
    bottom: 2; } }
