/* Tablet */
    
@media (min-width: 768px) and (max-width:1023px) {

    $ancho: auto;
    $alto: 300px;
    $color-titulos: #009EA4;
    $color-parrafo: #B1B4B3;
    $color-titulos-blanco: #fff;
    $color-background-section: #00818D;
    $color-background-section-girs: #E8EAE9;
    $color-background-web: #fff;
    
    
    #sustentabilidad {
        .carousel-item {
            height: $alto+100px;          

        }

        .boxe img{
            
            height: auto;
        }
          
        @supports(object-fit: cover){
              .boxe img{
                height: 100%;
                object-fit: cover;
                object-position: center center;
              }
        }

        .box {
            width: $ancho;
            background-color: $color-background-web;    
        }

         .box--uno {        
            width: $ancho;
            height: $alto;
            display: flex;       
        }

        .box--uno__text {
            font-size: 45px;
            color: $color-titulos;
            text-align: center;
            margin: auto;
        }

        .box--dos {
            width: $ancho;
            
            align-items: center;
            display: flex;
            flex-flow: row wrap;
        }

        .box--dos__bloque {
            width: $ancho;
            margin: 20px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row nowrap;
        }

        .box--dos__text {       
            font-size: 32px;
            color: $color-background-web;
            text-align: center;
            margin: auto;
        }

        .box--dos__img {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin:auto;
            display:block;
            width: 35%;
        }

        .box--tres {
            width: $ancho;        
            align-items: center;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__bloque {
            width: $ancho;
            margin: 20px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__bloquecentral {
            width: $ancho;
            margin: 20px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__text {        
            font-size: 39px;
            color: $color-background-web;
            text-align: center;
            margin: auto;
            font-style: normal;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__textcentral {        
            font-size: 70px;
            color: $color-titulos;
            text-align: center;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__img {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin:auto;
            display:block;
            width: 55%;
        }

        .box--cuatro {
            background-color: $color-background-section;        
            width: $ancho;
            height: $alto;
            display: flex;       
        }

        .box--cuatro__text {
            font-size: 33px;
            color: #fff;
            text-align: center;
            margin: auto;
        }

         
    }
    
    .servis {
        grid-area: servis;
        width: 100%;
        padding: 0px 15px;
        align-content: center;
        align-items: center;
        margin: auto;
    

    }

    .servis--block {
        width: 50%;
        text-align: center;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
    }

    .unica{
        width: 50%;
        height: 450px;
        overflow: hidden;
    }
        
    .unica img{
        width: 100%;
        height: auto;
    }
    
    
    .prod {
        width: 50%;
        padding: 0;
    } 
    
    .portada {
        width: $ancho;
        height: $alto;
        display: flex; 
    }

    

      

    @each $portada in nos, serv, cert {
        .#{$portada}{
            background-image: url("../media/Img/#{$portada}.jpg");
            width: 100%;
            background-position: center;
            overflow: hidden;
        }        
    }

    $bg_color: (
        celeste: #009EA4,
        gris:    #B1B4B3,
        gris-claro: #E8EAE9,
        azul:    #00818D,
        blanco:  #fff,
        negro:   #000  
    );

    @each $fondos, $color in $bg_color{
        .bg-#{$fondos} {
            background-color: $color;
        }
    }

    .caja {
        width: 100%;
        padding: 0;
    }

    .map-responsive{
        overflow:hidden;
        padding-bottom:56.25%;
        position:relative;
        height:0;
    }
    
    .map-responsive iframe{
        left:0;
        top:0;
        height:100%;
        width:100%;
        position:absolute;    
    }

    .prod {
        width: 50%;
        padding: 0;
    }

    .iso {
        width: 30%;
        padding: 0;
    }

    



    .divContacto {
        width: 50%;
        padding: 0;
        display: flex;
        flex-flow: row wrap;

    }

    .divP {
        width: 310px;
        padding: 5px;
        margin: 5px 5px;
        align-content: center;
        transition: all 1s;    
    }

    article {
        display: flex;
        flex-flow: row nowrap;
    }

    .article {
        display: flex;
        flex-flow: row wrap;
    }

    article divP:hover {
        background-color:rgb(9, 200, 248);
    }


    //tipografia

    h1, h2, h3 {
        color: $color-titulos;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: bold;
    }         
      
    h1 {
        padding: 15px 10px 0px;
        font-size: 16px;
        letter-spacing: 0px;
        text-align: left;
    }
           
    h2 {        
        padding: 5px 0px;
        font-size: 18px;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: left;
    }

    .h2--blanco {
        color:$color-background-web;
    }

    .h2--celeste {
        text-align: center;
        color: $color-titulos;
        font-size: 25px;
        font-weight: bold;
    }

    .h2--nav {
        text-align: center;
        color: $color-titulos;
        font-size: 22px;
        font-weight: bold;
    }

    h3 {
        padding-bottom: 3px;
        font-size: 20px;
        text-align: center;       
    }

    .h3--celeste {
        text-align: left;
        color: $color-titulos;
        font-size: 21px;
        font-weight: normal;
    }

    .h3--blanco {
        text-align: center;
        color: $color-titulos-blanco;
        font-size: 21px;
        font-weight: bold;
    }

    .h3--form {
        text-align: left;
        margin: 8px 0px 3px 0px;

    }

    h4 {
        padding-bottom: 3px;
        font-size: 14px;
        text-align: center;
        color: $color-titulos-blanco;       
    }
           
    h5 {
        color: $color-parrafo;
        text-align: left;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 10px;           
        }
    
    p {
        color: $color-parrafo;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-style: normal;
        text-align: left;
        font-size: 16px;  
        margin: 0 6px 10px 6px;      
    }

    label{
        color: $color-titulos;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;
        text-align: left;      

    }

    legend{
        color: $color-titulos;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        padding: 5px 0px;
        letter-spacing: 0px;
        text-transform: uppercase;
        

    }

    .imput {
        width: 60vh;
        margin-bottom: 12px;

    }

    .btn {
        background-color: $color-background-section;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: $color-titulos-blanco;
        text-align: center;

    }
    
    a {
        color: $color-titulos;
        text-decoration: none;    
    }

    .titulos {
        width: $ancho;
        
    }

    .titulo {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .copy {
        padding: 8px;
    }

    img {
        width: 90%;
    } 
    
    .contenedor{
        position: relative;
        display: inline-block;
        text-align: center;
        margin: auto;
    }
    .texto-encima{
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    #uno {   
        grid-area: video;
    }
    
    #dos {   
        grid-area: productos;
        padding: 20px;
        align-content: center;
        align-items: center;
    }
    
    #tres {    
        grid-area: servicios;
        padding: 20px;
        text-align: center;    
    }
    
    .certi {
        color:white;
        text-align: left;
        background-color: #009EA4;
    }

    #cuatro {
        grid-area: circular;
        padding: 20px;
        text-align: center;
        background-color: $color-background-web;   
    }
    
    #cinco {   
        grid-area: certi;
        padding: 20px;
        text-align: center;
        background-color: #009EA4;
    }  

    #seis {
        grid-area: contacto;
        padding: 20px;
        text-align: center;    
    }
        
    .video {
        position: relative;
        left:0;
        width: 100%;
        height: auto;
        overflow: hidden;
        background-color: $color-background-section;
        z-index: -2;
        
    }

    .logo {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 20%;
        z-index: -1;
        
    }

    #historia {
        grid-area: historia;
        text-align: justify;
        padding: 0px 20px;
        width: 100%;
    }

    .hist {
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin: auto;
        text-align: center;
        width: 50%;
    }

    .lista{
        width: 90%;
    }

    #detalles {
        grid-area: detalles;
        text-align: justify;
        padding: 20px;
    }

    #complejo {
        grid-area: complejo;
        text-align: justify;
        padding: 0px;
    }
    
    .complejo {
        grid-area: complejo;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
    }
    
    #placa {
        grid-area: placa;
        overflow: hidden;
        width: 100%;    
        align-content: center;
        justify-content: center;
        margin: auto;
      
    }   

    .boxy{
        width: 100%;
        height: 450px;
        background: #CCC;
        overflow: hidden;
    }
    
    .boxy img{
        width: 100%;
        height: auto;
    }
      
    @supports(object-fit: cover){
          .boxy img{
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
    }

    .block {
        padding: 0px 20px;
        z-index: -1;
    }

    .produ {
        padding: 0px 10px;
    }
    
    .contacto {
        padding: 0px 20px;
        width: 100%;
        display: flex;
        margin: 10px;
    }
  
    .manifiesto {
        color:$color-titulos-blanco;
        text-align: left;
        background-color: $color-background-section;
    }
    
    #manifiesto {
        grid-area: manifiesto;
        padding: 20px;
        text-align: center;   
    }
 
    .gridAreaHome {
        display: grid;
        grid-template-areas:
            "header"
            "video"
            "manifiesto"
            "productos"
            "servicios"
            "circular"
            "certi"
            "contacto"
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 60px 400px 350px 400px 400px 550px 750px 890px 100px;
    }   
    
    .gridAreaNos {
        display: grid;
        grid-template-areas:
            "header"
            "placa"
            "historia"
            "detalles"
            "complejo"                
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 40px 250px 550px 650px 290px 100px;
    }  
    
    .gridAreaServis {
        display: grid;
        grid-template-areas:
            "header"
            "placa"
            "servis"              
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 40px 200px 650px 100px;
    } 
    
    
    
}
    






/* Desktop */
    
@media (min-width:1024px){

    $ancho: auto;
    $alto: 300px;
    $color-titulos: #009EA4;
    $color-parrafo: #B1B4B3;
    $color-titulos-blanco: #fff;
    $color-background-section: #00818D;
    $color-background-section-girs: #E8EAE9;
    $color-background-web: #fff;
    
    
    #sustentabilidad {
        .carousel-item {
            height: $alto+100px;          

        }

        

        .box {
            width: $ancho;
            background-color: $color-background-web;    
        }

         .box--uno {        
            width: $ancho;
            height: $alto;
            display: flex;       
        }

        .box--uno__text {
            font-size: 55px;
            color: $color-titulos;
            text-align: center;
            margin: auto;
        }

        .box--dos {
            width: $ancho;
            
            align-items: center;
            display: flex;
            flex-flow: row wrap;
        }

        .box--dos__bloque {
            width: $ancho;
            margin: 20px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row nowrap;
        }

        .box--dos__text {       
            font-size: 30px;
            color: $color-background-web;
            text-align: center;
            margin: auto;
        }

        .box--dos__img {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin:auto;
            display:block;
            width: 25%;
        }

        .box--tres {
            width: $ancho;        
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
        }

        .box--tres__bloque {
            width: $ancho;
            margin: 20px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__bloquecentral {
            width: $ancho;
            margin: 20px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__text {        
            font-size: 28px;
            color: $color-background-web;
            text-align: center;
            margin: auto;
            font-style: normal;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__textcentral {        
            font-size: 40px;
            color: $color-titulos;
            text-align: center;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__img {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin:auto;
            display:block;
            width: 55%;
        }

        .box--cuatro {
            background-color: $color-background-section;        
            width: $ancho;
            height: $alto;
            display: flex;       
        }

        .box--cuatro__text {
            font-size: 33px;
            color: #fff;
            text-align: center;
            margin: auto;
        }

         
    }

    .servis {
        grid-area: servis;
        width: 100%;
        padding: 0px 15px;
        align-content: center;
        align-items: center;
        margin: auto;
    

    }

    .servis--block {
        width: 50%;
        text-align: center;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        
    }

    .unica{
        width: 50%;
        height: 450px;
        overflow: hidden;
    }
        
    .unica img{
        width: 100%;
        height: auto;
    }
   
    .portada {
        width: $ancho;
        height: $alto;
        display: flex; 
    }
    
    @each $portada in nos, serv, cert {
        .#{$portada}{
            background-image: url("../media/Img/#{$portada}.jpg");
            width: 100%;
            background-position: center;
            overflow: hidden;
        }        
    }

    $bg_color: (
        celeste: #009EA4,
        gris:    #B1B4B3,
        gris-claro: #E8EAE9,
        azul:    #00818D,
        blanco:  #fff,
        negro:   #000  
    );

    @each $fondos, $color in $bg_color{
        .bg-#{$fondos} {
            background-color: $color;
        }
    }

    .caja {
        width: 100%;
        padding: 0;
        margin: auto;
    }

    .prod {
        width: 25%;
        padding: 0;
    }

    .iso {
        width: 30%;
        padding: 0;
    }

    

    .divContacto {
        width: 50%;
        padding: 0;
    }

    .divP {
        width: 350px;
        padding: 5px;
        margin: 5px 5px;
        align-content: center;
        transition: all 1s;    
    }

    article divP:hover {
        background-color:rgb(9, 200, 248);
    }


    //tipografia

    h1, h2, h3 {
        color: $color-titulos;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: bold;
    }         
      
    h1 {
        padding: 15px 10px 0px;
        font-size: 16px;
        letter-spacing: 0px;
        text-align: left;
    }
           
    h2 {        
        padding: 5px 0px;
        font-size: 18px;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: left;
    }

    .h2--blanco {
        color:$color-background-web;
    }

    .h2--celeste {
        text-align: center;
        color: $color-titulos;
        font-size: 25px;
        font-weight: bold;
    }

    .h2--nav {
        text-align: center;
        color: $color-titulos;
        font-size: 20px;
        font-weight: bold;
    }



    h3 {
        padding-bottom: 3px;
        font-size: 20px;
        text-align: center;       
    }

    .h3--celeste {
        text-align: left;
        color: $color-titulos;
        font-size: 21px;
        font-weight: normal;
    }

    .h3--blanco {
        text-align: center;
        color: $color-titulos-blanco;
        font-size: 21px;
        font-weight: bold;
        margin-top: 8px;
    }

    .h3--form {
        text-align: left;
        margin: 8px 0px 3px 0px;

    }

    h4 {
        padding-bottom: 3px;
        font-size: 14px;
        text-align: center;
        color: $color-titulos-blanco;       
    }
           
    h5 {
        color: $color-parrafo;
        text-align: left;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 10px;           
        }
    
    p {
        color: $color-parrafo;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-style: normal;
        text-align: left;
        font-size: 14px;  
        margin: 0 6px;      
    }

    label{
        color: $color-titulos;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;
        text-align: left;      

    }

    legend{
        color: $color-titulos;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: bold;
        font-size: 14px;
        text-align: left;
        padding: 5px 0px;
        letter-spacing: 0px;
        text-transform: uppercase;
        

    }

    .imput {
        width: 100vh;
        margin-bottom: 15px;

    }

    .btn {
        background-color: $color-background-section;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: normal;
        font-size: 14px;
        color: $color-titulos-blanco;
        text-align: center;

    }
    
    a {
        color: $color-titulos;
        text-decoration: none;    
    }

    .titulos {
        width: $ancho;
        
    }

    .titulo {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .copy {
        padding: 8px;
    }

    img {
        width: 55%;
    } 

    .contenedor{
        position: relative;
        display: inline-block;
        text-align: center;
        margin: auto;
    }
    .texto-encima{
        position: absolute;
        top: 10px;
        left: 10px;
    }    
    .centrado{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #uno {   
        grid-area: video;
    }
    
    #dos {   
        grid-area: productos;
        padding: 18px;
        align-content: center;
        align-items: center;
    }
    
    #tres {    
        grid-area: servicios;
        padding: 18px;
        text-align: center;    
    }
    
    .certi {
        color:white;
        text-align: left;
        background-color: #009EA4;
        margin: auto;
    }

    .textoCerti {
        color:white;
        text-align: left;
        background-color: #009EA4;
        margin: auto 0;
    }

    #cuatro {
        grid-area: circular;
        padding: 18px;
        text-align: center;
        background-color: $color-background-web;   
    }
    
    #cinco {   
        grid-area: certi;
        padding: 18px;
        text-align: center;
        background-color: #009EA4;
    }  

    #seis {
        grid-area: contacto;
        padding: 18px;
        text-align: center;    
    }
        
    .video {
        overflow: hidden;
        align-content: center;
        display: inline-block;
        position: relative;
        text-align: center;
        width: auto;
        height: auto;
        background-color: $color-background-section;
        
    }

    .logo {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 40%;
        
    }

    #historia {
        grid-area: historia;
        text-align: justify;
        padding: 0px 20px;
        width: 100%;
    }

    .hist {
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        margin: auto;
        text-align: center;
        width: 50%;
    }

    .lista{
        width: 90%;
    }

    #detalles {
        grid-area: detalles;
        text-align: justify;
        padding: 20px;
    }

    #complejo {
        grid-area: complejo;
        text-align: justify;
        padding: 0px;
    }
    
    .complejo {
        grid-area: complejo;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
    }
    
    #placa {
        grid-area: placa;
        overflow: hidden;
        width: 100%;    
        align-content: center;
        justify-content: center;
        margin: auto;
      
    }  
    
    .boxy{
        width: 100%;
        height: 450px;
        background: #CCC;
        overflow: hidden;
    }
    
    .boxy img{
        width: 100%;
        height: auto;
    }
      
    @supports(object-fit: cover){
          .boxy img{
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
    }

    .block {
        padding: 0px 18px;
        z-index: -1;
    }

    .produ {
        padding: 0px 10px;
    }

    .contacto {
        padding: 0px 20px;
        width: 100%;
        display: flex;
    }
    
    .manifiesto {
        color:$color-titulos-blanco;
        text-align: left;
        background-color: $color-background-section;
    }
    
    #manifiesto {
        grid-area: manifiesto;
        padding: 18px;
        text-align: center;   
    }
 
    .gridAreaHome {
        display: grid;
        grid-template-areas:
            "header"
            "video"
            "manifiesto"
            "productos"
            "servicios"
            "circular"
            "certi"
            "contacto"
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 60px 300px 500px 300px 400px 400px 250px 760px 100px;
    }   
    
    .gridAreaNos {
        display: grid;
        grid-template-areas:
            "header"
            "placa"
            "historia"
            "detalles"
            "complejo"                
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 40px 200px 800px 600px 150px 100px;
    }  
    
    .gridAreaServis {
        display: grid;
        grid-template-areas:
            "header"
            "placa"
            "servis"              
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 40px 200px 650px 100px;
    } 

    
    
}
