//estilo css propio


* {
    margin: 0;
    padding: 0;
    }
    
    /* Estilos generales */

    @import "responsive";
    
    /************ 
    Mobile First 
    *************/
    
    /* Smartphone */

    @media (max-width: 767px){
    
    $ancho: auto;
    $alto: 200px;
    $color-titulos: #009EA4;
    $color-parrafo: #B1B4B3;
    $color-titulos-blanco: #fff;
    $color-background-section: #00818D;
    $color-background-section-girs: #E8EAE9;
    $color-background-web: #fff;

    #sustentabilidad {
        .carousel-item {
            height: $alto+100px;          

        }

        .box {
            width: $ancho;
            background-color: $color-background-web;    
        }

         .box--uno {        
            width: $ancho;
            height: $alto;
            display: flex;       
        }

        .box--uno__text {
            font-size: 30px;
            color: $color-titulos;
            text-align: center;
            margin: auto;
        }

        .box--dos {
            width: $ancho;
            
            align-items: center;
            display: flex;
            flex-flow: row wrap;
        }

        .box--dos__bloque {
            width: $ancho;
            margin: 10px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row nowrap;
        }

        .box--dos__text {       
            font-size: 20px;
            color: $color-background-web;
            text-align: center;
            margin: auto;
        }

        .box--dos__img {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin:auto;
            display:block;
            width: 35%;
        }

        .box--tres {
            width: $ancho;        
            align-items: center;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__bloque {
            width: $ancho;
            margin: 10px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__bloquecentral {
            width: $ancho;
            margin: 10px;
            padding: 2px 3px;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__text {        
            font-size: 20px;
            color: $color-background-web;
            text-align: center;
            margin: auto;
            font-style: normal;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__textcentral {        
            font-size: 40px;
            color: $color-titulos;
            text-align: center;
            margin: auto;
            display: flex;
            flex-flow: row wrap;
        }

        .box--tres__img {
            align-items: center;
            justify-content: center;
            text-align: center;
            margin:auto;
            display:block;
            width: 55%;
        }

        .box--cuatro {
            background-color: $color-background-section;        
            width: $ancho;
            height: $alto;
            display: flex;       
        }

        .box--cuatro__text {
            font-size: 20px;
            color: #fff;
            text-align: center;
            margin: auto;
        }

         
    }

   

    .portada {
        width: $ancho;
        height: $alto;
        display: flex; 
    }

    

      

    @each $portada in home, nos, prod, serv, sus, cert, cont {
        .#{$portada}{
            background-image: url("../media/imagenes/#{$portada}.jpg");
        }        
    }

    $bg_color: (
        celeste: #009EA4,
        gris:    #B1B4B3,
        gris-claro: #E8EAE9,
        azul:    #00818D,
        blanco:  #fff,
        negro:   #000  
    );

    @each $fondos, $color in $bg_color{
        .bg-#{$fondos} {
            background-color: $color;
        }
    }

    .caja {
        width: 100%;
        padding: 0;
    }

    .prod {
        width: 50%;
        padding: 0;
    }

    .divP {
        width: 310px;
        padding: 5px;
        margin: 5px 5px;
        align-content: center;
        transition: all 1s;    
    }

    article divP:hover {
        background-color:rgb(9, 200, 248);
    }


    //tipografia

    h1, h2, h3 {
        color: $color-titulos;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: bold;
    }         
      
    h1 {
        padding: 15px 30px 0px;
        font-size: 14px;
        letter-spacing: 0px;
        text-align: left;
    }
           
    h2 {        
        padding-bottom: 5px;
        font-size: 14px;
        letter-spacing: 0px;
        text-transform: uppercase;
        text-align: left;
    }

    .h2--blanco {
        color:$color-background-web;
    }

    .h2--celeste {
        text-align: center;
        color: $color-titulos;
        font-size: 16px;
        font-weight: bold;
    }

    .h2--nav {
        text-align: center;
        color: $color-titulos;
        font-size: 16px;
        font-weight: bold;
    }

    h3 {
        padding-bottom: 3px;
        font-size: 14px;
        text-align: center;       
    }

    .h3--celeste {
        text-align: left;
        color: $color-titulos;
        font-size: 14px;
        font-weight: normal;
    }

    .h3--blanco {
        text-align: center;
        color: $color-titulos-blanco;
        font-size: 16px;
        font-weight: bold;
    }

    h4 {
        padding-bottom: 3px;
        font-size: 11px;
        text-align: center;
        color: $color-titulos-blanco;       
    }
           
    h5 {
        color: $color-parrafo;
        text-align: left;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-weight: normal;
        padding-bottom: 10px;
        font-size: 10px;           
        }
    
    p {
        color: $color-parrafo;
        font-family: 'Montserrat', Helvetica, Arial, sans-serif;
        font-style: normal;
        text-align: left;
        font-size: 11px;        
    }
    
    a {
        color: $color-titulos;
        text-decoration: none;    
    }

    .titulos {
        width: $ancho;
        
    }

    .titulo {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }

    .copy {
        padding: 8px;
    }
   

    img {
        width: 60%;
    }           
    
    header {
        background-color: $color-background-web;
        grid-area: header;
    }
    
    #uno {   
        grid-area: video;
    }
    
    #dos {   
        grid-area: productos;
        padding: 20px;
        align-content: center;
        align-items: center;
    }
    
    #tres {    
        grid-area: servicios;
        padding: 20px;
        text-align: center;    
    }
    
    .certi {
        color:white;
        text-align: left;
        background-color: #009EA4;
    }

    #cuatro {
        grid-area: circular;
        padding: 20px;
        text-align: center;
        background-color: $color-background-web;   
    }
    
    #cinco {   
        grid-area: certi;
        padding: 20px;
        text-align: center;
        background-color: #009EA4;
    }  

    #seis {
        grid-area: contacto;
        padding: 20px;
        text-align: center;    
    }
        
    .video {
        overflow: hidden;
        align-content: center;
    }
    
    .manifiesto {
        color:$color-titulos-blanco;
        text-align: left;
        background-color: $color-background-section;
    }
    
    #manifiesto {
        grid-area: manifiesto;
        padding: 20px;
        text-align: center;   
    }
    
    .gridAreaHome {
        display: grid;
        grid-template-areas:
            "header"
            "video"
            "manifiesto"
            "productos"
            "servicios"
            "circular"
            "certi"
            "contacto"
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 40px 190px 400px 400px 400px 300px 250px 268px 100px;
    }    
    
    .gridAreaNos {
        display: grid;
        grid-template-areas:
            "header"
            "placa"
            "historia"
            "foto"                
            "footer"
            ;            
        grid-template-columns: 100%;
        grid-template-rows: 12vh 25vh 70vh 30vh 10%;
    }  

    aside img {
        width: 400px;
        align-content: center;
        animation-name: un_efecto;
        animation-iteration-count:initial;
        animation-timing-function: ease-in;
        animation-duration: 10s;
        animation-delay: 0s;
    }
    
    main {
        width: 100%;
    }
    
    article {
        display: flex;
        flex-flow: row wrap;
    }
    
    section {
        display: flex;
        flex-flow: row wrap;
    }
    
    .articleServicios {
        display: flex;
        width: 100%;
        margin: 10px;
        padding: 20px;
        justify-content: center;
    }
    
    aside {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }  
 
    .galeria {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    .pie {
        display: flex;
        width: 40px;
        flex-flow: row nowrap;
        justify-content: center;
        text-align: center;
    }
    
    .contenedorServicios {
        display: flex;  
    }
          
    .contenido {
        display: flex;
        flex-flow: row wrap;
    }
    
    #uno {   
        grid-area: video;
    }
    
    #dos {   
        grid-area: productos;
        padding: 20px;
        text-align: center;
        align-content: center;
    }
    
    #tres {    
        grid-area: servicios;
        padding: 20px;
        text-align: center;    
    }
    
    #cuatro {   
        grid-area: certi;
        padding: 20px;
        text-align: center;
    }
    
    #cinco {
        grid-area: logos;
        text-align: center;
        
    }
    
    .video {
        overflow: hidden;
        align-content: center;
    }
    
    #historia {
        grid-area: historia;
        text-align: justify;
        padding: 20px;
    }
    
    #foto {
        grid-area: foto;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
    }
    
    #placa {
        grid-area: placa;
        overflow: hidden;
        width: 100%;    
        align-content: center;
        justify-content: center;
        background-image: linear-gradient(to left, rgb(255, 0, 140), white, rgb(0, 60, 255));
    }
    
    
    /*Amimaciones*/
    @keyframes un_efecto {
        0%{ width: 600px; transform: translate(-100px, 20px);opacity: 0;}
        25%{ width: 300px;transform: rotateY(70deg);opacity: 1;}
        50%{ width: 200px; transform: skewX(10deg);}
        75%{ width: 300px; transform: rotateY(70deg);}
        85%{ width: 600px;opacity: 0;}
        100%{ width: 400px;}
    }

    //boques originales de sass

    .bloque {
        background-color: #009EA4;
    }

    .bloque__fotos {
        width: 700px;
        margin: 3px;
    }

    .bloque__fotos--destacada {
        width: 300px;
        align-content: center;
        animation-name: un_efecto;
        animation-iteration-count:initial;
        animation-timing-function: ease-in;
        animation-duration: 10s;
        animation-delay: 0s;
    }

    @keyframes un_efecto {
        0%{ width: 300px; transform: translate(-100px, 20px);opacity: 0;}
        25%{ width: 100px;transform: rotateY(70deg);opacity: 1;}
        50%{ width: 200px; transform: skewX(10deg);}
        75%{ width: 100px; transform: rotateY(70deg);}
        85%{ width: 300px;opacity: 0;}
        100%{ width: 400px;}
    }

    .bloque__texto {
        color: white;
    }

    .informe {
        width: 100%;
    }

    .informe__b1 {
        width: 50%;
        margin: 0;
        padding: 5px;
        background-color: #009EA4;    
    }
    .informe__b1--text{
        color: #fff;
        text-align: left;
    }

    .informe__b2 {
        width: 50%;
        margin: 0;
        padding: 5px;
        background-color: #fff;        
    }

    .informe__b2--text{
        color: #009EA4;
        text-align: right;
    }

    .informe__b2--img{
        align-items: center;
        justify-content: center;
        text-align: center;
        margin:auto;
		display:block;
        width: 100%;
    }

    body {
        padding: 0;
    }

    .p{
        bottom: 2;
    }
}

    

   
    
